body{
	font-family: verdana;
	background-color:#1a1a1a;
	margin:0;
	color:white;
}

#result{
	text-align:center;
	width:50%;
	color:white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#1a1a1a;
    position: fixed;
    bottom: 0;
    width: 100%;
	text-align:center;
	display:inline block;
}

li {
    display:inline-block;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color:white;
}

button{
	font-size: 20px;
	position: absolute;
	top: 90%;
	left: 90%;
}

.ring {
  width: 150px;
  height: 150px;
  border: 5px solid #00a8e1;
  border-radius: 100%;
  margin-top:15px;
}

.circle {
	width: 25px;
	height: 25px;
	background: #00a8e1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	transform: translate(0px, -15px);
}

.pulse {
	width: 25px;
	height: 25px;
	position:relative;
	top:22.5%;
	background: #00a8e1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	animation: pulsate infinite 5s;
}

#status{
	color:white;
	text-align:center;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(2, 2);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}